<h1>Editing Page</h1>

<%= form_for @page do |f| %>
<% if @page.errors.any? %>
  <div id="errorExplanation">
  <h2><%= pluralize(@page.errors.count, "error") %> prohibited this Page from being saved:</h2>
  <ul>
    <% @page.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
  </ul>
</div>
  <% end %>
<p>
<%= f.label :label %><br>
<%= f.text_field :label %>
</p>

<p>
<%= f.submit %>
</p>
<% end %>

<%= link_to 'Back', pages_path %>
