<% provide(:title, 'Documents') %>
<h1>All Documents</h1>

<div class="right">
  <%= link_to "New Document", new_document_path, class: "btn btn-success" %>
</div>

<div id="tag_cloud">
  <% tag_cloud(Document.tag_counts.sort {|a,b| a.name <=> b.name }, %w(s m l)) do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
  <% end %>
</div>

<br/>

<%= will_paginate %>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Pages</th>
    <th>Location</th>
    <th>Date</th>
    <th>Actions</th>
  </tr>

  <% @documents.each do |doc| %>
    <tr>
      <td><%= link_to doc.name, document_path(doc) %></td>
      <td><%= doc.pages.count %></td>
      <td><%= doc.location %></td>
      <td><%= doc.relevant_date.to_date rescue "" %></td>
      <td><%= link_to 'Edit', edit_document_path(doc), class: "btn btn-small" %>
          <%= link_to 'Delete', document_path(doc), class: "btn btn-small btn-danger",
              method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>
