<% provide(:title, 'New Document') %>
<h1>New Document</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@document) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.label :tag_list, "Tags (separated by commas)" %>
      <%= f.text_field :tag_list %>

      <% @selected_pages = @document.pages.map {|p| p.id} if @document.pages %>
      <%= f.label :pages %>
      <%= select_tag 'document[form_pages][]', options_for_select(
        (Page.without_document + @document.pages).map {|p| [p.path,p.id]}, @selected_pages),
        { :multiple => true } %>


      <%= f.submit "Create Document", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
