<% javascript_tag 'documents' %>
<% provide(:title, @document.name) %>

<div id="title" class="row">
  <h1 class="span8">
    <%= @document.name %>
  </h1>
  <div id="tag_cloud" class="span4">
    <table class="table table-bordered table-striped">
      <tr>
        <th align="right"><%= 'Document Tags' %></th>
      </tr>
      <tr>
        <td>
          <% if @document.tag_list.empty? %>
            <p>No tags!</p>
          <% else %>
            <% tag_cloud(@document.tag_counts.sort {|a,b| a.name <=> b.name }, %w(s m l)) do |tag, css_class| %>
              <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
          <% end %>
        <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div id="doc_info" class="span10 btn-toolbar la">
    <div class="btn-group left">
      <%= document_info_buttons @document %>
    </div>
    <div class="btn-group">
      <%= document_page_buttons @document %>
    </div>
  </div>
  <div id="doc_info" class="span2 btn-toolbar ra">
    <div class="btn-group ra">
      <%= document_edit_buttons @document %>
    </div>
  </div>
  <div class="form offset3" id="pdf">
    <%= form_for @document, :html => {:multipart => true}, :url => { :action => :upload } do |f| %>
      <div class="form-group" id="upload">
        <%= f.file_field :image %>
        <%= f.submit "Upload" %>
      </div>
    <% end %>
  </div>
</div>

<div class="pages">
  <% if @document.pages.any? %>
    <h1>Pages (<%= @document.pages.count %>)</h1>
    <ul class="thumbnails">
      <%= render @pages %>
    </ul>
  <% end %>
</div>
