<% provide(:title, @document.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @document.name %>
      </h1>
      <p>
        Location: <%= @document.location %>
      </p>
      <p>
      Tags: <%= raw @document.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      </p>
    </section>
  </aside>
</div>
<div class="span8">
  <% if @document.pages.any? %>
    <h3>Pages (<%= @document.pages.count %>)</h3>
    <ol class="pages">
      <%= render @pages %>
    </ol>
    <%= will_paginate @pages %>
  <% end %>
</div>
